[submodule "thirdparty/uvw"]
	path = thirdparty/uvw
	url = https://github.com/PatientCoin/uvw.git
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
